<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adoção Legal</title>
    <link rel="stylesheet" href="../css/cadastro-pet.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <%- include('./partials/header') %>

        <main>
            <div class="cadastropet">
                <p id="titulo">Cadastre seu pet</p>

                <div class="errosPet">
                    <% if(typeof(erros) !="undefined" ){ %>
                        <% erros.forEach((erro)=>{ %>
                            <div id="listaErrosPet">
                                <li>
                                    <%= erro.msg %>
                                </li>
                            </div>
                            <% }) %>
                                <% } %>
                </div>

                <form method="post" action="pets" enctype="multipart/form-data">
                    <div class="input-group">
                        <label for="pet"> Qual seu pet: </label>
                        <select id="tipo do pet" name="tipoDePet" required>
                            <option value="Cão">Cão</option>
                            <option value="Gato">Gato</option>
                            <option value="Coelho">Coelho</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="nome"> Nome do Pet: </label>
                        <input type="text" id="nome" name="nome" placeholder="Digite o nome do seu pet" maxlength="25"
                            value="<% if(typeof valores != 'undefined') { %><%= valores.nome %><%}%>" required/>
                    </div>

                    <div class="input-group">
                        <label for="raca">Raça:</label>
                        <input type="text" id="raca" name="raca"
                            placeholder="Pastor Alemão, Buldog, Persa, indefinidas "
                            value="<% if(typeof valores != 'undefined') { %><%= valores.raca %><%}%>" required/>
                    </div>

                    <div class="input-group">
                        <label for="tamanho"> Qual porte do seu pet:</label>
                        <select id="tamanhoDoPet" name="tamanhoDoPet" required>
                            <option value="Grande">Grande</option>
                            <option value="Médio">Médio</option>
                            <option value="Pequeno">Pequeno</option>
                        </select>
                    </div>

                    <div class="input-group">

                        <label for="idade">Data Nascimento:</label>
                        <input type="date" name="dataNascimento" id="dataNacimentoPet"
                            value="<% if(typeof valores != 'undefined') { %><%= valores.dataNascimento %><%}%>" required />
                    </div>

                    <div class="input-group">

                        <label for="cor"> Qual a cor do seu pet: </label>
                        <select id="corPredominante" name="corPredominante" required>
                            <option value="Preto">Preto</option>
                            <option value="Branco">Branco</option>
                            <option value="Caramelo">Caramelo</option>
                            <option value="Marrom">Marrom</option>
                            <option value="Cinza">Cinza</option>
                        </select>
                    </div>

                    <div class="input-group">

                        <label for="tipoDePelo"> Qual a pelagem do seu pet: </label>
                        <select id="pelagem" name="pelagem"required>
                            <option value="Curto">Curto</option>
                            <option value="Médio">Médio</option>
                            <option value="Longo">Longo</option>
                            <option value="Sem pelo">Sem pelo</option>
                        </select>
                    </div>

                    <div class="check input-group">
                        <label>Genero:</label>
                        <div>
                            <label for="Femea">Femea</label>
                            <input type="radio" id="femea" name="genero" value="Femea" required/>
                            <label for="Macho">Macho</label>
                            <input type="radio" id="macho" name="genero" value="Macho" required/>
                        </div>
                    </div>

                    <div class="check input-group">
                        <label>Vacinado:</label>
                        <div>
                            <label for="sim">Sim</label>
                            <input type="radio" id="simVacinado" name="vacinado"
                            value="é Vacinado" required/>
                            <label for="não">Não</label>
                            <input type="radio" id="naoVacinado" name="vacinado" value="Não é vacinado" required/>
                        </div>
                    </div>

                    <div class="check input-group">
                        <label>Castrado:</label>
                        <div>

                            <label for="sim">Sim</label>
                            <input type="radio" id="simCastrado" name="castrado" value="Castrado" required/>
                            <label for="nao">Não</label>
                            <input type="radio" id="naoCastrado" name="castrado" value="Nâo é castrado" required/>
                        </div>
                    </div>

                    <div class="form-footer">
                        <label for="fotos">Enviar arquivo</label>
                        <input type="file" id="fotos" name="fotos" accept="image/*" multiple required/>
                        <button id="cadastrarPet" type="submit">Finalizar</button>
                    </div>
                </form>
            </div>
        </main>

        <%- include('./partials/footer') %>
</body>

</html>