<!DOCTYPE html>

<html lang="pt-br">
<%- include('./partials/header') %>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cadastro-pessoa.css">
        <link rel="stylesheet" href="../css/style.css" />
        <title> Cadastro de Pessoas </title>
    </head>

    <body>
        <div class="cadastro">
            <p id="titulo">Cadastre-se</p>
            <div class="errosUsuario">
                <% if(typeof(erros) !="undefined" ){ %>
                    <% erros.forEach((erro)=>{ %>
                        <div id="listaErrosUsuario">
                            <li>
                                <%= erro.msg %>
                            </li>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
            <form method="post" action="/usuarios" enctype="multipart/form-data">

                <div class="input-group">
                    <label for="nome"> Nome: </label>
                    <input type="text" id="nome" name="nome" placeholder="Digite o seu nome" maxlength="25"
                        value="<% if(typeof valores != 'undefined') { %><%= valores.nome %><%}%>" required>
                </div>

                <div class="input-group">
                    <label for="senha"> Senha: </label>
                    <input type="password" id="senha" name="senha" placeholder="Digite o sua senha" maxlength="30" required>
                </div>

                <div class="input-group">
                    <label for="cpf"> CPF: </label>
                    <input type="text" id="cpf" name="cpf" placeholder="Digite o seu CPF" maxlength="15"
                        value="<% if (typeof valores != 'undefined') { %><%= valores.cpf %> <% } %>" required>
                </div>

                <div class="input-group">
                    <label for="nome">Endereço de E-mail: </label>
                    <input type="email" id="email" name="email" placeholder="Digite o seu email" maxlength="100"
                        value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%> " required>
                </div>

                <div class="input-group">
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" class="input-padrao" placeholder="(xx) xxxxx-xxxx"
                        value="<% if (typeof valores != 'undefined') { %><%= valores.telefone %> <%}%> " required>
                </div>

                <div class="input-group">
                    <label for="data"> Data de Nascimento: </label>
                    <input type="date" name="dataNascimento"
                        value="<% if(typeof valores != 'undefined') { %><%= valores.dataNascimento %><%}%>" required>
                </div>

                <div class="input-group">
                    <label for="estado"> Estado: </label>
                    <select id=" estado " name=" estado " required>
                        <option value=" AC "> Acre </option>
                        <option value=" AL "> Alagoas </option>
                        <option value=" AP "> Amapá </option>
                        <option value=" AM "> Amazonas </option>
                        <option value=" BA "> Bahia </option>
                        <option value=" CE "> Ceará </option>
                        <option value=" DF "> Distrito Federal </option>
                        <option value=" ES "> Espírito Santo </option>
                        <option value=" GO "> Goiás </option>
                        <option value=" MA "> Maranhão </option>
                        <option value=" MT "> Mato Grosso </option>
                        <option value=" MS "> Mato Grosso do Sul </option>
                        <option value=" MG "> Minas Gerais </option>
                        <option value=" PA "> Pará </option>
                        <option value=" PB "> Paraíba </option>
                        <option value=" PR "> Paraná </option>
                        <option value=" PE "> Pernambuco </option>
                        <option value=" PI "> Piauí </option>
                        <option value=" RJ "> Rio de Janeiro </option>
                        <option value=" RN "> Rio Grande do Norte </option>
                        <option value=" RS "> Rio Grande do Sul </option>
                        <option value=" RO "> Rondônia </option>
                        <option value=" RR "> Roraima </option>
                        <option value=" SC "> Santa Catarina </option>
                        <option value=" SP "> São Paulo </option>
                        <option value=" SE "> Sergipe </option>
                        <option value=" TO "> Tocantins </option>
                        <option value=" EX "> Estrangeiro </option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="cidade"> Cidade: </label>
                    <input type="text" id="cidade" name="cidade" placeholder="Digite a sua cidade" maxlength="15"
                        value="<% if(typeof valores != 'undefined') {%><%= valores.cidade %><% } %>" required>
                </div>

                <div class="gender input-group">
                    <label>Genero:</label>

                    <div>
                        <label for="homem">Masculino</label>
                        <input type="radio" name="genero" value="homem" required>

                        <label for="mulher">Feminino</label>
                        <input type="radio" name="genero" value="mulher" required>
                    </div>
                </div>

                <div class="form-footer">
                    <label for="fotoPerfil">Enviar arquivo</label>
                    <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*" required>

                    <button id="cadastrar" type="submit"> Finalizar </button>
                </div>
            </form>
        </div>
    </body>
    <%- include('./partials/footer') %>

</html>