<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/feed.css" />

    <title>Adoção Legal</title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <div class="head-feed">
      <h1>HORA DE ADOTAR!</h1>
    </div>

    <section class="anuncios-feed">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          magni, quaerat, esse mollitia magnam accusantium iste dolorum velit
          incidunt amet corrupti minima repudiandae. Eum nemo harum officia
          fugit, delectus animi?
        </p>
      </div>
    </section>
    <section class="feed-principal">
      <ul class="list-feed">
        <% anuncios.map(anuncio=>{ %>
        <li class="list-item">
          <div class="list-card">
            <img
              src="<%= anuncio.Animal.Fotos[0].caminho %><%= anuncio.Animal.Fotos[0].nome %>"
              alt=""
            />

            <form
              action="/animalDivulgado/<%= anuncio.id %>"
              method="get"
              class="list-form"
            >
              <button type="submit" class="feed-submit-button">
                nome: <%= anuncio.Animal.nome %><br />raça: <%=
                anuncio.Animal.raca %><br />porte: <%= anuncio.Animal.porte %>
              </button>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
