<DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/perfilPage.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Adoção Legal</title>
  </head>

  <body>
    <%- include('./partials/header') %>

      <main id="conteudo">
        <section id="Tema">Tema</section>
        <section id="content">
          <section class="perfil">

            <img src="../img/sem-foto.jpg" alt="perfil-pet" />
            <ul>
              <li>
                <%= usuario.nome %>
              </li>
              <li>
                <%= usuario.email %>
              </li>
              <li>
                <%= usuario.genero %>
              </li>
              <li>
                <%= usuario.data_nasc %>
              </li>
              <li>
                <%= usuario.telefone %>
              </li>              
              <li>
                <%= usuario.cpf %>
              </li>
              <li>
                <%= usuario.estado %>
              </li>
              <li>
                <%= usuario.cidade %>
              </li>
              <li>
                <%= usuario.rua %>
              </li>
            </ul>

          </section>

          <section class="faq-container">
            <div class="faq-mini">
              <details class="faq-h2" >
                <summary>cadastrados</summary>
                <%- include('./partialPerfil/cadastrados') %>
              </details>
              <details class="faq-h2">
                <summary>anunciados</summary>
                <%- include('./partialPerfil/anunciados') %>
              </details>
            </div>
          </section>

          <section id="customProfile">
            <ul>
              <li>
                <form action="atualizar/usuario/<%= usuario.id  %>" method="get">
                  <button type="submit">alterar dado</button>
                </form>
              </li>
              <li>opçõesDoPerfil2</li>
              <li><a href="pets">Doe seu pet!</a></li>
            </ul>
          </section>
        </section>
      </main>

      <%- include('./partials/footer') %>

  </body>

  </html>
</DOCTYPE>