<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="../css/perfilPage.css"/>
      <link rel="stylesheet" href="../css/style.css"/>
      <title>Adoção Legal</title>
    </head>

    <body>
      <%- include('./partials/header') %>

      <main id="conteudo">
        <section id="Tema">Tema</section>
        <!--imagem do pefil e opções(coluna esquerda)-->
        <section id="content">
          <section class="perfil">

            <img src="../uploads/sem-foto.jpg" alt="perfil-pet" />
            <ul>
              <li><%= user.nome %></li>
              <li><%= user.email %></li>
              <li><%= user.genero %></li>
              <li><%= user.cpf %></li>
            </ul>

          </section>
          <% user.Animal.forEach((animais)=>{ %>
            <div id="card">
              <h2 id="Nome do pet"> <li> <%=animais.raca %></li> </h2>
              <div class="infoPerfil">
                <aside>
                  <img
                    class="perfil-img"
                    src="../uploads/<%= animais.imagem %>"
                    alt="fot de perfil-pet"
                  />
                  <ul class="infoPerfil-pet">
                    
                    <li><%= animais.raca %></li>
                    <li><%= animais.porte %></li>
                    <li><%= animais.tipo %></li>               
                    <li><%= animais.pelagem %></li>
                    <li>
                      <form method="get" action="/anuncio">
                        <input type="hidden" name="animal" value="<%= animais.id %>">
                  
                        <button type="submit">Doar!</button>
                      </form>
                    </li>
                 </ul>
                </aside>
                <div class="photo-card">
                  <img
                  class="perfil-img"
                  src=""
                  alt="perfil-pet"
                />
              </div>
            </div>
          <% }) %>
        </div>

          <section id="customProfile">
            <ul>
                <li>opçõesDoPerfil1</li>
                <li>opçõesDoPerfil2</li>
                <li><a href="/doando/pet">Doe seu pet!</a></li>
              </ul>
          </section>
        </section>
      </main>

      <%- include('./partials/footer') %>
      
    </body>
  </html>
</DOCTYPE>
