<% animais.map((animal)=>{ %>
    <% anuncio.map(item=>{ %>
    <% if(animal.id === item.idAnimal){ %>
    <div id="card">
      <h2 id="Nome do pet">
        <li>
          <%=animal.nome %>
          <br>
        </li>
      </h2>
      <h3><p>Anunciado!</p></h3>
      <div id="interessado">
          <ul class="infoPerfil-pet">
            <div>
              <% interesse.map(item=>{ %>
                <li><strong><%= item.nome%></strong> interessou-se</li>
                <li><%= item.email %></li>
                <li><%= item.telefone %></li>
              <%})%>
            </div>

          </ul>
      </div>
        <form method="post" action="/anuncio/<%= animal.id %>?_method=DELETE"> 
          <button type="submit">Deletar anuncio</button>
        </form>
    </div>
    <% } %>
    <% }) %>
<% }) %>