<% animais.forEach((animal)=>{ %>
  <div id="card">
    <h2 id="Nome do pet">
        <li>
          <%= animal.nome %>
        </li>
      </h2>
      <div class="infoPerfil">
        <aside>
          <ul class="infoPerfil-pet">
            <li>
              <%= animal.raca %>
            </li>
            <li>
              <%= animal.porte %>
            </li>
            <li>
              <%= animal.tipo %>
            </li>
            <li>
              <%= animal.pelagem %>
            </li>
            <li>
              <%= animal.cor %>
            </li>
            <li>
              <%= animal.genero %>
            </li>
            <li>
              <form method="get" action="/anuncio">
                <input type="hidden" name="idAnimal" value="<%= animal.id %>">
                <input type="hidden" name="idUsuario" value="<%= usuario.id %>" >
                <button type="submit" class="botoesPerfil">Atualizar</button>
              </form>
            </li>
            <li>
              <form method="post" action="/anuncio/<%= animal.id %>">
                <input id="anuncio" type="hidden" name="anuncio" value="<%= anuncio %>" >
                <input type="hidden" name="idUsuario" value="<%= usuario.id %>" >
                <button type="submit" class="botoesPerfil">Anunciar</button>
              </form>
            </li>
            <li>
              <% interesse.map(item=>{ %>
                <form method="post" action="/pets/<%= animal.id %>?_method=DELETE">
                  <input type="hidden" value="<%=item.id %>" name="idInteresse"> 
                  <button type="submit">Deletar</button>
                </form>
                <%})%>
            </li>
          </ul>
        </aside>
        <div class="photo-content">
          <% animal.Fotos.forEach((fotos)=>{ %>
            <div class="photo-card">
              <img class="perfil-img" src="<%= fotos.caminho %><%= fotos.nome %>" alt="perfil-pet" />
            </div>
            <% }) %>
        </div>
      </div>
    </div>
    <% }) %>